Modulo 6 XML - Ajax/clase1/dtdropa.dtd

<!ELEMENT TiendaDeRopa (damas, caballeros)>
<!ELEMENT damas (DetalleRopa,Marca,Talla,Color,Precio,Cantidad)>
<!ELEMENT caballeros (DetalleRopa,Marca,Talla,Color,Precio,Cantidad)>

<!ELEMENT DetalleRopa (#PCDATA)>
<!ELEMENT Marca (#PCDATA)>
<!ELEMENT Talla (#PCDATA)>
<!ELEMENT Color (#PCDATA)>
<!ELEMENT Precio (#PCDATA)>
<!ELEMENT Cantidad (#PCDATA)>